html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  letter-spacing: 0.12em;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.wrapper {
  width: 85%;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
  justify-content: center;
}
.my-p-2 {
  padding: 2% 2% 4% 2%;
}
.title-text-my {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: 3vh;
  float: left;
}
ul.nav-links-my li {
  display: inline;
  float: right;
  margin-right: 3vw;
}
.nav-links-my a {
  color: black;
  text-decoration: none;
  font-size: 2vh;
}
.all-about {
  margin-top: 15vh;
  height: 600px;
}
.about-image {
  margin: 0;
  position: absolute;
  top: 12vh;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh; /* You must set a specified height */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.vertical-center {
  padding-top: 12vh;
}
.vertical-center {
  padding-top: 15vh;
}
.text-white {
  color: white;
}
.about-h1 {
  font-size: 7vh;
  margin-bottom: 2.5vh;
}
.about-p {
  font-size: 3.5vh;
}
.buttons-all {
  margin-top: 18vh;
}
.about-button-service {
  font-weight: 500;
  padding: 2vh;
  width: 14vw;
  font-size: 2.5vh;
  background: none;
  border-color: white;
  margin-right: 1.5vh;
}
.about-button-hire {
  font-weight: 500;
  padding: 2vh;
  width: 14vw;
  font-size: 2.5vh;
  background-color: #00897b;
  border-color: #00897b;
  margin-left: 1.5vh;
}
.button-more {
  font-weight: 500;
  padding: 2vh;
  width: 14vw;
  font-size: 3vh;
  background: none;
  border: none;
  font-size: 4vh;
  transform: rotate(180deg) scaleX(-1);
  margin-top: 7vh;
}
.about-us {
  margin-top: 35vh; /*test*/
  margin-bottom: 30vh;
  height: 600px;
}
.about-main-h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 4vh;
}
.about-main-p {
  font-family: "Open Sans", sans-serif;
  margin-right: 30vh;
  margin-left: 30vh;
  letter-spacing: 0.05em;
  margin-bottom: 19vh;
}
.about-us-element {
  width: 30%;
  float: left;
  margin-left: 2vh;
  margin-right: 2vh;
}
.aboutus-images {
  width: 20%;
  height: 10vh; /* You must set a specified height */
  margin-bottom: 2vh;
}
.services {
  height: 1800px;
  background-color: #e4fdf9;
  /* margin-bottom: 300vh; */
}
.services-text {
  padding-top: 25vh;
}
.services-main-text {
  font-size: 4vh;
}
.services-main-p {
  width: 60%;
  margin: 0 auto;
  letter-spacing: 0.05em;
}
.services-cards {
  margin-top: 10vh;
}
.card {
  width: 30%;
  background-color: white;
  height: 60vh;
  float: left;
  margin: 1%;
}
.image-card-smartphone {
  height: 20%;
  width: 20%;
  margin: 5vh;
}
.card-text {
  width: 80%;
  margin: 0 auto;
}
.button-card-read-more {
  border-color: black;
  color: black;
  background: none;
  height: 10vh;
  width: 20vh;
}
.latest-work {
  height: 1500px;
  margin-top: 165vh;
}
.latest-work-btn {
  padding: 2vh;
  margin-top: 5vh;
  font-size: 2.5vh;
  background: none;
  border: 3px solid #00897b;
  margin-right: 1.5vh;
  margin-bottom: 7vh;
}
.latest-card {
  width: 30%;
  margin: 1%;
  float: left;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
.latest-work-img {
  z-index: -1;
}
.latest-work-h4 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.latest-work-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plans {
  height: 1800px;
}
.plans-header {
  margin-bottom: 15vh;
}
.plans-h3 {
  font-size: 6vh;
}
.plans-card {
  width: 30%;
}
.plans-card-h4 {
  font-size: 4vh;
}
.plans-card-h5 {
  font-size: 2vh;
}
.plans-card-span {
  font-size: 3.5vh;
}
.plans-card-p-underline {
  text-decoration: underline;
  margin-top: 1.5vh;
}
.plans-card-btn {
  background: none;
  border: 3px solid black;
  font-size: 4vh;
  padding-right: 3vh;
  padding-left: 3vh;
  margin-top: 3vh;
}
.plans-card-btn:hover {
  animation-duration: 3s;
  animation-name: plans-card-btn;
}
.latest-work-img:hover {
  animation-duration: 1s;
  animation-name: Img-dark;
}
.latest-card:hover {
  animation-duration: 1s;
  animation-name: Show-text;
}
.latest-work-btn:hover {
  animation-duration: 2s;
  animation-name: noname;
}
.card:hover {
  animation-duration: 4s;
  animation-name: noname;
}
*:focus {
  outline: 0 !important;
}
.t1 {
  background-color: teal;
}
.t2 {
  background-color: blue;
}
.t3 {
  background-color: yellow;
}
@keyframes noname {
  1% {
    background-color: white;
  }
  100% {
    background-color: #00897b;
  }
}
@keyframes Show-text {
  1% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgb(43, 41, 41);
  }
}
@keyframes Img-dark {
  1% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(50%);
  }
}
@keyframes plans-card-btn {
  1% {
    background-color: white;
    border-color: black;
    color: black;
  }
  100% {
    background-color: #00897b;
    border-color: #00897b;
    color: white;
  }
}
